@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #000;
  font-family: "Montserrat", sans-serif;
}

p, span, div, h1, h2, h3 {
  color: white;
}

.slide-in-left {
  animation: slideIn 0.5s ease-out forwards;
}

/* ************************************************* */
/* ************************************************* */
#fp-nav {
  top: 10% !important;
}

#logo {
  position: absolute;
  width: 350px;
  max-height: 100%;
  z-index: 2;
  right: 5%;
  top: 70px;
}

.logoToCorner {
  animation: logoMoveTop 0.2s forwards ease-out;
}

.logo-filter {
  filter: invert(100%);
}

/* ************************************************* */
.text-color-black p, .text-color-black span, .text-color-black div, .text-color-black h1, .text-color-black h2, .text-color-black h3 {
  color: black;
}
.text-color-black .nav-link {
  color: black;
}
.text-color-black .st0 {
  stroke: #0f00;
  fill: #000;
}

.text-color-white p, .text-color-white span, .text-color-white div, .text-color-white h1, .text-color-white h2, .text-color-white h3 {
  color: white;
}
.text-color-white .nav-link {
  color: white;
}

.text-color-red p, .text-color-red span, .text-color-red div, .text-color-red h1, .text-color-red h2, .text-color-red h3 {
  color: #A13131;
}
.text-color-red .nav-link {
  color: #A13131;
}

/* ************************************************* */
#home #introText {
  position: relative;
  left: 20%;
  top: calc(50% - 100px);
  height: 200px;
  overflow: hidden;
}
#home #introText .scroll-hide {
  position: absolute;
  top: -20px;
  animation: autoScroll 5s linear infinite alternate-reverse;
}
#home #introText .scroll-hide div {
  margin: 10px 0;
}
#home #introText:after, #home #introText:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 50px;
  z-index: 1;
}
#home #introText:after {
  bottom: 0;
  background: linear-gradient(0deg, black 15%, rgba(0, 72, 148, 0) 100%);
}
#home #introText:before {
  top: 0;
  background: linear-gradient(0deg, rgba(0, 72, 148, 0) 15%, black 100%);
}
#home .section-wrapper {
  background: #000000;
}
#home p, #home span, #home div, #home h1, #home h2, #home h3 {
  color: #fff;
}

#about .section-wrapper {
  background: #ffffff;
}
#about p, #about span, #about div, #about h1, #about h2, #about h3 {
  color: #000;
}

#projects .section-wrapper {
  background: #A13131;
}
#projects p, #projects span, #projects div, #projects h1, #projects h2, #projects h3 {
  color: #fff;
}

#contact .section-wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#contact p, #contact span, #contact div, #contact h1, #contact h2, #contact h3 {
  color: #000;
}

.section-wrapper {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.section-wrapper .section-description {
  position: absolute;
  bottom: 5%;
  left: 110px;
  color: #fff;
  width: 50%;
}
.section-wrapper .section-description h1 {
  text-transform: uppercase;
  font-size: 90px;
}

/* ************************************************* */
/* ************************************************* */
/* ************************************************* */
.text-format {
  padding: 0px 60px;
}
.text-format img {
  width: 100%;
  overflow: hidden;
}

@keyframes autoScroll {
  0% {
    top: 10px;
  }
  100% {
    top: -400px;
  }
}
@keyframes logoMoveTop {
  0% {
    width: 500px;
    top: 70px;
  }
  100% {
    width: 100px;
    top: 40px;
  }
}
@keyframes logoMoveMiddle {
  0% {
    width: 100px;
    top: 40px;
  }
  100% {
    width: 350px;
    top: 70px;
  }
}

/*# sourceMappingURL=style.css.map */
